section.apply-now {
	grid-column: 1 / -1;
	height: 300px;
	position: relative;
	display: grid;
	grid-template-areas: "left center right";
	grid-template-columns: 10% 1fr 10%;
	overflow: hidden;
	.apply-now__image {
		background: linear-gradient(to left rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)),
			url("../assets/stock-images/classroom.png");
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		/* Add the blur effect */
		filter: blur(3px);
		-webkit-filter: blur(5px);
		grid-column: 1 / -1;
	}
	.apply-now__content {
		color: white;
		position: absolute;
		top: 0;
		grid-area: center;
		top: 45%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		h1 {
			font-size: 40px;
			text-shadow: 1px 1px 1px #000;
			margin-bottom: 40px;
			padding: 0 300px;
		}
		a {
			background-color: $redMain;
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			padding: 10px 15px;
			box-shadow: 1px 1px 10px rgb(0, 0, 0);
		}
	}
}
