footer {
	grid-column: 1/-1;
	display: grid;
	.footer__top {
		// background-color: rgb(65, 65, 65);
		display: grid;
		grid-template-areas: "left-margin left-top center right-top right-margin";
		grid-template-columns: 10% 1.25fr 1fr 1fr 10%;
		// background-color: lighten(grey, 40);
		background-image: url("../assets/hero/grey-background.jpg");
		background-size: cover;
		background-attachment: fixed;
	}
	.footer__bottom {
		// background-color: rgb(37, 37, 37);
		color: white;
		display: grid;
		grid-template-areas: "left-margin left-bottom right-bottom right-margin";
		grid-template-columns: 10% 1fr 1fr 10%;
		background-color: darken(grey, 30);
	}
}

.footer__top {
	padding: 40px 0 20px;
	.left {
		grid-area: left-top;
		margin-right: 20px;
		color: rgb(95, 95, 95);
		display: flex;
		align-items: center;
		p {
			margin: 20px 0;
		}
	}
	.center {
		grid-area: center;
		margin: 0 20px;
		display: flex;
		align-items: center;
		nav {
			width: 100%;
		}
		li {
			list-style-type: none;
			border-bottom: 1px solid lightgrey;
			padding: 5px 0;
			a {
				transition: .1s ease-in all;
				text-decoration: none;
				color: black;
				width: 100%;
				&:hover {
					color: $redMain;
				}
			}
		}
	}
	.right {
		grid-area: right-top;
		margin-left: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		> * {
			// width: 100%;
			text-align: center;
		}
		.logo-container {
			width: 100px;
			margin: 0 auto;
		}
		.media-icons {
			display: flex;
			justify-content: center;
			.icon {
				margin: 10px;
				// background-color: $redMain;

				a {
					text-decoration: none;
					color: white;
				}
				i {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					font-size: 20px;
					width: 40px;
					height: 40px;
					background: $redMain;
					transition: .3s all ease-in;
					&:hover {
						background-color: black;
					}
				}
			}
		}
	}
}

.footer__bottom {
	padding: 10px 0;
	.left {
		grid-area: left-bottom;
		display: flex;
	}
	.right {
		grid-area: right-bottom;
		display: flex;
		flex-direction: row-reverse;
	}
}
