.about {
	background: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
		url("../assets/hero/red-plaid.jpeg");
	background-attachment: fixed;
	background-position: center;
	grid-column: 1 / -1;
	padding: 40px 0;
	.wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		height: 400px;
		margin: 0 10%;
		grid-gap: 20px;
	}
}

.about h1 {
	text-align: center;
	color: white;
	position: relative;
	margin-bottom: 70px;
	text-shadow: 3px 3px 1px #000;
	font-size: 50px;
	&:after {
		content: "";
		height: 2px;
		width: 40px;
		background: $redMain;
		position: absolute;
		bottom: -20px;
		transform: translateX(50%);
		right: 50%;
	}
}

.about .quarter {
	border: 1px solid black;
	position: relative;
	bottom: 0;
	transition: .3s all ease-out;
	z-index: 100;
	box-shadow: 2px 1px 15px rgb(85, 85, 85);
	&:hover {
		bottom: 30px;
		a {
			bottom: -41px;
		}
	}
	a {
		position: absolute;
		bottom: 0;
		transform: translateX(50%);
		right: 50%;
		z-index: 1;
		transition: .3s all ease-out;
		padding: 10px 20px;
		background-color: $redMain;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}
	.about-text-container {
		z-index: 10;
		position: absolute;
		bottom: 0;
		background: white;
		padding: 20px;
		text-align: center;
		h2 {
			margin-bottom: 10px;
		}
	}
}
