header.team {
	background: linear-gradient(to left rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
		url("../../assets/stock-images/classroom2.png");
	background-position: 0 -200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
