header.team {
	background-image: url("../../assets/stock-images/classroom2.png");
	background-position: 0 -200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
