article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

.wrapper {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  grid-template-areas: "left center right";
  -ms-grid-columns: 10% 1fr 10%;
  grid-template-columns: 10% 1fr 10%; }

h1,
h2,
h3,
h4,
p {
  margin: 0; }

h1,
h2,
h3,
h4 {
  font-family: 'Cantata One', serif; }

body,
p,
a {
  font-family: 'Roboto', sans-serif; }

header.home {
  grid-column: left / right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 30px 1fr 30px 10%;
  grid-template-columns: 10% 1fr 10%;
  grid-gap: 30px;
  grid-template-areas: "inner-left inner-center inner-right" "inner-left hero inner-right" "inner-left bottom-center inner-right";
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("../assets/hero/bookshelf.jpeg");
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/hero/bookshelf.jpeg");
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/hero/bookshelf.jpeg");
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/hero/bookshelf.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -ms-grid-rows: auto 30px 1fr 30px 100px;
  grid-template-rows: auto 1fr 100px; }

#navbar {
  -webkit-transition: .2s ease-in all;
  -o-transition: .2s ease-in all;
  transition: .2s ease-in all;
  z-index: 1000; }

.top-nav-bar {
  position: fixed;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.4)));
  background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0.4));
  background: -o-linear-gradient(top, white, rgba(255, 255, 255, 0.4));
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.4));
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  grid-column: inner-left / inner-right;
  -ms-grid-columns: 10% 30px auto 30px 1fr 30px 10%;
  grid-template-columns: 10% auto 1fr 10%;
  grid-gap: 30px;
  grid-template-areas: "left-margin logos nav right-margin"; }

.top-nav-bar nav {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: nav; }
  .top-nav-bar nav ul {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-grid-columns: (auto)[5];
    grid-template-columns: repeat(5, auto);
    grid-gap: 25px; }
    .top-nav-bar nav ul li {
      list-style: none;
      text-align: center; }
      .top-nav-bar nav ul li a {
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 1px #4e4e4e;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-transition: .2s ease-in all;
        -o-transition: .2s ease-in all;
        transition: .2s ease-in all; }
        .top-nav-bar nav ul li a:hover {
          color: #df1c33; }

.top-nav-bar__logos {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logos;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-nav-bar__logos .logo-container {
    width: 30px; }
  .top-nav-bar__logos .logo-text-container {
    width: 200px; }

.header-bottom {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: bottom-center;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "left center right";
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr); }
  .header-bottom .third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header-bottom .left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
    background: #b21629; }
  .header-bottom .center {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: center;
    background: #9b1323; }
  .header-bottom .right {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: right;
    background: #84111e; }
  .header-bottom > * {
    text-align: center; }
    .header-bottom > * h2 {
      color: white;
      font-size: 35px; }
    .header-bottom > * h3 {
      font-size: 18px;
      color: #d4d4d4; }

.hero {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: hero;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero h1 {
    color: white;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 60px;
    font-size: 50px;
    width: 800px;
    text-align: center;
    text-transform: capitalize; }
  .hero a {
    color: white;
    text-decoration: none;
    background: #df1c33;
    padding: 10px 15px;
    text-transform: uppercase; }

.video {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-columns: 10% 1fr 1fr 10%;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-areas: "left-margin left right right-margin"; }

.video-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background: white;
  grid-area: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 20px;
  text-align: center; }

.header-bottom > .video-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.video-player {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  -ms-grid-column-span: 2;
  grid-column: span 2 / -1;
  background: #df1c33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0; }

.header-bottom > .video-player {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

iframe {
  max-width: 100%; }

.logo-container-video {
  width: 100px;
  margin: 0 auto; }

.video-info-container {
  margin: 0 10% 0 20%; }
  .video-info-container h1 {
    position: relative;
    margin: 30px 0 40px; }
  .video-info-container h1:after {
    content: "";
    height: 2px;
    width: 40px;
    background: #df1c33;
    position: absolute;
    bottom: -20px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    right: 50%; }
  .video-info-container p {
    margin-bottom: 40px;
    font-size: 20px; }

.about {
  background-image: url("../assets/hero/grey-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  grid-column: 1 / -1;
  padding: 40px 0; }
  .about .wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 400px;
    margin: 0 10%;
    grid-gap: 20px; }

.about h1 {
  text-align: center;
  color: black;
  position: relative;
  margin-bottom: 70px;
  text-shadow: 3px 3px 1px white;
  font-size: 50px; }
  .about h1:after {
    content: "";
    height: 2px;
    width: 40px;
    background: #df1c33;
    position: absolute;
    bottom: -20px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    right: 50%; }

.about .quarter {
  position: relative;
  bottom: 0;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  z-index: 100;
  -webkit-box-shadow: 2px 1px 15px #555555;
  box-shadow: 2px 1px 15px #555555; }
  .about .quarter:hover {
    bottom: 30px; }
    .about .quarter:hover a {
      bottom: -40px; }
  .about .quarter a {
    position: absolute;
    bottom: 0;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    right: 50%;
    z-index: 1;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    padding: 10px 0;
    width: 150px;
    text-align: center;
    background-color: #df1c33;
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
  .about .quarter .about-text-container {
    z-index: 10;
    position: absolute;
    bottom: 0;
    background: white;
    padding: 20px;
    text-align: center; }
    .about .quarter .about-text-container h2 {
      margin-bottom: 10px; }

section.apply-now {
  grid-column: 1 / -1;
  height: 300px;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "left center right";
  -ms-grid-columns: 10% 1fr 10%;
  grid-template-columns: 10% 1fr 10%;
  overflow: hidden; }
  section.apply-now .apply-now__image {
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.1))), url("../assets/stock-images/classroom.png");
    background: -webkit-linear-gradient(right rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../assets/stock-images/classroom.png");
    background: -o-linear-gradient(right rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../assets/stock-images/classroom.png");
    background: linear-gradient(to left rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../assets/stock-images/classroom.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(5px);
    grid-column: 1 / -1; }
  section.apply-now .apply-now__content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    color: white;
    position: absolute;
    top: 0;
    grid-area: center;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
    section.apply-now .apply-now__content h1 {
      font-size: 40px;
      text-shadow: 1px 1px 1px #000;
      margin-bottom: 40px;
      padding: 0 300px; }
    section.apply-now .apply-now__content a {
      background-color: #df1c33;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      -webkit-box-shadow: 1px 1px 10px black;
      box-shadow: 1px 1px 10px black; }

.sponsors {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "left title carousel right";
  -ms-grid-columns: 10% 300px 1fr 10%;
  grid-template-columns: 10% 300px 1fr 10%;
  margin: 20px 0; }
  .sponsors__title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .sponsors .image-container {
    width: 30px; }

.carousel {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: carousel; }

.carousel-cell {
  width: 20%;
  height: 200px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .carousel-cell .image-container {
    width: 100%;
    padding: 0 10px; }

.sponsors__title h2 {
  position: relative;
  padding-bottom: 40px;
  font-size: 30px; }
  .sponsors__title h2:after {
    content: "";
    height: 2px;
    width: 40px;
    background: #df1c33;
    position: absolute;
    bottom: 20px;
    left: 0; }

.sponsors__title p {
  margin-bottom: 20px;
  width: 80%; }

.sponsors__title a {
  color: #df1c33;
  text-decoration: none;
  -webkit-transition: .1s ease-in all;
  -o-transition: .1s ease-in all;
  transition: .1s ease-in all; }
  .sponsors__title a:hover {
    color: #f3a1ab; }

footer {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid; }
  footer .footer__top {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "left-margin left-top center right-top right-margin";
    -ms-grid-columns: 10% 1.25fr 1fr 1fr 10%;
    grid-template-columns: 10% 1.25fr 1fr 1fr 10%;
    background-image: url("../assets/hero/grey-background.jpg");
    background-size: cover;
    background-attachment: fixed; }
  footer .footer__bottom {
    color: white;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "left-margin left-bottom right-bottom right-margin";
    -ms-grid-columns: 10% 1fr 1fr 10%;
    grid-template-columns: 10% 1fr 1fr 10%;
    background-color: #343434; }

.footer__top {
  padding: 40px 0 20px; }
  .footer__top .left {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: left-top;
    margin-right: 20px;
    color: #5f5f5f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__top .left p {
      margin: 20px 0; }
  .footer__top .center {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: center;
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__top .center nav {
      width: 100%; }
    .footer__top .center li {
      list-style-type: none;
      border-bottom: 1px solid lightgrey;
      padding: 5px 0; }
      .footer__top .center li a {
        -webkit-transition: .1s ease-in all;
        -o-transition: .1s ease-in all;
        transition: .1s ease-in all;
        text-decoration: none;
        color: black;
        width: 100%; }
        .footer__top .center li a:hover {
          color: #df1c33; }
  .footer__top .right {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: right-top;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .footer__top .right > * {
      text-align: center; }
    .footer__top .right .logo-container {
      width: 100px;
      margin: 0 auto; }
    .footer__top .right .media-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .footer__top .right .media-icons .icon {
        margin: 10px; }
        .footer__top .right .media-icons .icon a {
          text-decoration: none;
          color: white; }
        .footer__top .right .media-icons .icon i {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%;
          font-size: 20px;
          width: 40px;
          height: 40px;
          background: #df1c33;
          -webkit-transition: .3s all ease-in;
          -o-transition: .3s all ease-in;
          transition: .3s all ease-in; }
          .footer__top .right .media-icons .icon i:hover {
            background-color: black; }

.footer__bottom {
  padding: 10px 0; }
  .footer__bottom .left {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: left-bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__bottom .right {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: right-bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

header.about-us {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2))), url("../../assets/hero/library.jpeg");
  background: -webkit-linear-gradient(right rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/hero/library.jpeg");
  background: -o-linear-gradient(right rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/hero/library.jpeg");
  background: linear-gradient(to left rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/hero/library.jpeg");
  height: 300px;
  grid-column: 1 / -1;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "left center right";
  -ms-grid-columns: 10% 1fr 10%;
  grid-template-columns: 10% 1fr 10%; }
  header.about-us .header-content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: center;
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 25px; }
    header.about-us .header-content h1 {
      text-shadow: 1px 1px 1px black; }
    header.about-us .header-content:after {
      content: "";
      width: 40px;
      bottom: -20px;
      height: 2px;
      background-color: #df1c33;
      position: absolute; }

section.history {
  margin: 80px 0;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "left center-left center-right right";
  -ms-grid-columns: 10% 1fr 350px 10%;
  grid-template-columns: 10% 1fr 350px 10%; }
  section.history .history__content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: center-left;
    margin-right: 20px; }
    section.history .history__content h3 {
      color: grey;
      margin-bottom: 20px; }
    section.history .history__content h2 {
      margin: 20px 0; }
  section.history .history__schools {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    background: #df1c33;
    padding: 20px;
    grid-area: center-right;
    color: white; }
    section.history .history__schools li {
      margin-bottom: 10px; }
    section.history .history__schools ul {
      padding-left: 20px; }
